---
version: '3'
services:

# START SERVICE vcwc/nginx
  nginx:
    image: ${VCW_REGISTRY}nginx:${VCW_TAG}
    environment: []
    command: []
    volumes: []
    ports: []
    networks: [${VCW_STACK_NETWORKGLOBAL}_overlay, ${VCW_STACK_NETWORKLOCAL}_overlay]
    deploy:
      mode: replicated
      resources:
        limits:
          memory: '${VCW_STACK_NGINX_DEPLOY_RESOURCES_LIMITS_MEMORY}'
        reservations:
          memory: '${VCW_STACK_NGINX_DEPLOY_RESOURCES_RESERVATIONS_MEMORY}'
${VCW_STACK_NGINX_COMPOSE_EXTENSIONS}
# END SERVICE vcwc/nginx

networks: {${VCW_STACK_NETWORKGLOBAL}_overlay: { external: true }, ${VCW_STACK_NETWORKLOCAL}_overlay: { external: true }}
volumes: {}
${VCW_STACK_GLOBAL_COMPOSE_EXTENSIONS}
